NEXT_PUBLIC_API_BASE_URL=https://be-jago-wedding-production.up.railway.app
NEXT_PUBLIC_APP_URL=https://jago-wedding.up.railway.app
NEXT_PUBLIC_PUBLIC_INVITATION_DOMAIN=jago-wedding.up.railway.app
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=
NEXT_PUBLIC_MIDTRANS_SNAP_URL=https://app.sandbox.midtrans.com/snap/snap.js
